.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    gap: 12px;
}

body.page {
    text-align: center;
    font-family: Arial;
        
}

body.blockquote {
    background-color: lightblue;
    padding: 20px;
}
